---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title="CV" />

		<main>
			<h1>泉 和哉</h1>
			<p>
				Webが主戦場のプログラマ．インターンシップ・アルバイト先ではバックエンド/フロントエンドプログラマ，アーキテクト，プロジェクトマネージャなどあらゆる立場でアプリ開発に貢献．現在は学業・研究活動の傍らフリーランスエンジニアとして活動中．最近はTypeScriptやRust，Pythonをよく使用している．
				<br>
				プログラマとしての活動や高専での生体認証の研究を通し，ヒトと計算機の相互作用を検討するHuman Computer Interaction（HCI）分野に興味を持つ．現在はヒトの視線とComputer Vision技術に着目し，「視覚をベースとしたヒトとヒト，ヒトと計算機の対話はどこまで拡張できるか」を主題として，ビデオ会議におけるアイコンタクトの最適化，健常者や身体的に制約がある人のための視線によるインタラクションなどの研究を行っている．
			</p>

			<h2>学歴</h2>

			<dl>
				<dt>2022 - 現在</dt>
				<dd>博士前期課程 在籍（2023.10 - 休学中）</dd>
				<dd>筑波大学 人間総合科学学術院人間総合科学研究群</dd>
				<dd><a href="https://digitalnature.slis.tsukuba.ac.jp/">デジタルネイチャー研究室</a>（指導教員：落合陽一准教授）</dd>

				<dt>2020 - 2022</dt>
				<dd>学士（情報メディア科学）</dd>
				<dd>筑波大学 情報学群情報メディア創成学類</dd>
				<dd><a href="https://digitalnature.slis.tsukuba.ac.jp/">デジタルネイチャー研究室</a>（指導教員：落合陽一准教授）</dd>
				<dd>卒業論文「Online Video Conferences Communication with Eye Contact Design System」</dd>

				<dt>2015 - 2020</dt>
				<dd>準学士（工学）</dd>
				<dd>明石工業高等専門学校 電気情報工学科</dd>
				<dd>井上研究室（指導教員：井上一成教授）</dd>
				<dd>卒業論文「キーストローク認証におけるk-meansを用いたウルフ攻撃と対策」</dd>
			</dl>

			<h2>職歴</h2>
			<dl>
				<dt>2021 - 現在</dt>
				<dd>フリーランスエンジニア</dd>
				<dd>Webアプリを始めとした受託開発・コンサル</dd>

				<dt>2020 - 2020</dt>
				<dd>freee株式会社</dd>
				<dd>短期インターンシップ・Ruby on Rails / Reactアプリの機能追加・改善</dd>

				<dt>2018 - 2018</dt>
				<dd>ウォンテッドリー株式会社</dd>
				<dd>短期インターンシップ・Ruby on RailsでのgRPCベースライブラリ開発</dd>

				<dt>2018 - 2021</dt>
				<dd>株式会社TwoGate</dd>
				<dd>バックエンド（Ruby on Rails，NestJS）/フロントエンド（Angular，Ionic，Capacitor，React）エンジニア，プロジェクトマネージャー，アーキテクト</dd>
			</dl>

			<h2>受賞・表彰</h2>

			<dl>
				<dt>2021.11</dt>
				<dd>ゆる楽器ハッカソン2021 優秀賞</dd>

				<dt>2020.10</dt>
				<dd>Civictech Challenge Cup U-22 アカツキスポンサー賞</dd>

				<dt>2019.01</dt>
				<dd>TRUNK HACKATHON in Osaka サイボウズ株式会社スポンサー賞</dd>
			</dl>

			<h2>研究助成</h2>

			<dl>
				<dt>2023.06 - 2024.03</dt>
				<dd><a href="https://www.ipa.go.jp/jinzai/mitou/it/2023/gaiyou_in-2.html">視線とキーボードで完結する高速なGUIポインティングシステム</a></dd>
				<dd>2023年度未踏IT人材発掘・育成事業. IPA 独立行政法人 情報処理推進機構. ¥2,736,000.</dd>

				<dt>2022.06 - 2023.03</dt>
				<dd><a href="https://www.jst.go.jp/kisoken/aip/program/wakate/challenge/list2022.html">速記を用いた高速な視線日本語入力システムの開発</a></dd>
				<dd>AIPチャレンジプログラム. AIPネットワークラボ, 国立研究開発法人 科学技術振興機構. ¥1,000,000.</dd>
			</dl>

			<h2>資格</h2>

			<dl>
				<dt>2019.06</dt>
				<dd>TOEIC SCORE 730</dd>

				<dt>2018.06</dt>
				<dd>応用情報処理技術者試験</dd>

				<dt>2014.07</dt>
				<dd>漢字能力検定 2級</dd>
			</dl>

			<h2>出版</h2>

			<h3>査読あり</h3>
			<ul>
				<li>Chinatsu Ozawa, Kenta Yamamoto, <u>Kazuya Izumi</u>, and Yoichi Ochiai. 2023. Give Life Back to Alternative Process: Exploring Handmade Photographic Printing Experiments towards Digital Nature Ecosystem. In ACM SIGGRAPH 2023 Labs (SIGGRAPH '23). Association for Computing Machinery, New York, NY, USA, Article 6, 1–2. <a href="https://doi.org/10.1145/3588029.3599735">https://doi.org/10.1145/3588029.3599735</a></li>
				<li>Shieru Suzuki, Kazuma Aoyama, Ryosei Kojima, <u>Kazuya Izumi</u>, Tatsuki Fushimi, and Yoichi Ochiai. 2023. ExudedVestibule: Enhancing Mid-air Haptics through Galvanic Vestibular Stimulation. In ACM SIGGRAPH 2023 Posters (SIGGRAPH '23). Association for Computing Machinery, New York, NY, USA, Article 41, 1–2. <a href="https://doi.org/10.1145/3588028.3603648">https://doi.org/10.1145/3588028.3603648</a></li>
				<li><u>Kazuya Izumi</u>, Shieru Suzuki, Ryogo Niwa, Atsushi Shinoda, Ryo Iijima, Ryosuke Hyakuta, and Yoichi Ochiai. 2023. A Preliminary Study on Eye Contact Framework Toward Improving Gaze Awareness in Video Conferences. In Human-Computer Interaction: Thematic Area, HCI 2023, Held as Part of the 25th HCI International Conference, HCII 2023, Copenhagen, Denmark, July 23–28, 2023, Proceedings, Part I. Springer-Verlag, Berlin, Heidelberg, 484–498. <a href="https://doi.org/10.1007/978-3-031-35596-7_31">https://doi.org/10.1007/978-3-031-35596-7_31</a></li>
				<li>Chinatsu Ozawa, Kenta Yamamoto, <u>Kazuya Izumi</u>, and Yoichi Ochiai. 2022. Computational Alternative Photographic Process toward Sustainable Printing. In SIGGRAPH Asia 2022 Technical Communications (SA ’22 Technical Communications), December 6–9, 2022, Daegu, Republic of Korea. ACM, New York, NY, USA, 4 pages. <a href="https://doi.org/10.1145/3550340.3564219">https://doi.org/10.1145/3550340.3564219</a></li>
				<li>Ryogo Niwa, <u>Kazuya Izumi</u>, Shieru Suzuki, Yoichi Ochiai. 2022. EMS-Supported Throwing: Preliminary Investigation on EMS-Supported Training of Movement Form. In: Antona, M., Stephanidis, C. (eds) Universal Access in Human-Computer Interaction. Novel Design Approaches and Technologies. HCII 2022. Lecture Notes in Computer Science, vol 13308. Springer, Cham. <a href="https://doi.org/10.1007/978-3-031-05028-2_31">https://doi.org/10.1007/978-3-031-05028-2_31</a></li>
			</ul>

			<h3>査読なし</h3>
			<ul>
				<li><u>泉和哉</u>, 吉武大地, 佐村敏治. 2019. "キーストローク認証におけるk-meansを用いたウルフ攻撃", 2019年 情報科学技術フォーラム(FIT), pp.17-20.</li>
			</ul>

			<h2>メディア出演・掲載</h2>

			<ul>
				<li><a href="https://audee.jp/voice/show/55523">FUTURES 落合陽一 RADIO PIXIE DUST. JFN系. 2023-02-06</a></li>
			</ul>
		</main>

		<Footer />
	</body>
</html>
